.cart {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.price {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 90px;
  column-gap: 8px;
}

.description {
  text-align: center;
}

.category-wraper {
  overflow-y: auto;
  margin-bottom: 40px;
  height: 780px;
}

.category-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 24px;
  row-gap: 32px;
  padding: 24px 4px 40px 16px;
}

.category :nth-child(1n) {
  grid-column: 1/2;
  grid-row: auto;
}
.category :nth-child(2n) {
  grid-column: 2/3;
  grid-row: auto;
}

.category-title {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.modal-order {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-additionally {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
}

.modal-image {
  padding: 0 10px;
}

.modal-close {
  margin-left: auto;
}

.modal-table {
  display: flex;
  justify-content: space-between;
}

.modal-name {
  align-self: center;
}

.modal-table_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 20px;
  row-gap: 8px;
}

.modal-table_name {
  color: var(--text-inactive-color);
}

.modal-table_value {
  color: var(--text-inactive-color);
}